* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
}

header nav {
        width: 90%;
        justify-content: space-between;
        margin: auto;
        display: flex;
        align-items: center;
        height: 90px;
}

header nav img {
        color: red;
        width: 50%;
        position: relative;
}

header nav a {
        width: fit-content;
        height: fit-content;
}

nav .sign-in {
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: 600;
}

.hero {
        display: flex;
        justify-content: center;
}

.lock img {
        height: 30px;
}

.lock {
        display: inline-block;
        border: 1.8px solid #E32E2C;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 30px 0;
}

.credit_card {
        width: 100%;
        border: 2px solid #ccc;
        height: 25%;
        margin-top: 6%;

}

.credit_card a {
        color: black;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
}

.credit_card p {
        font-size: 1.3rem;
        padding-left: 5%;
}

.credit_card img {
        height: 50px;
        padding-right: 5%;

}

.light {
        font-weight: 400;
}

@media screen and (max-width: 425px) {

        .payment {
                width: 90%;
        }

        h1 {
                font-size: 1.5rem;
        }
}